body {
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
    font-size: 20px;
    line-height: 1.8;
    background-color: #cac7d6;
  }

p {font-size: 16px;

}
.margin {margin-bottom: 15px;
}


.container-fluid {
  padding: 30px;
  padding-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  max-width: calc(1100px - (5px));
  background-color: white;
}
.header {
  overflow: hidden;
  background-color:#6A687A;
  padding: 20px 10px;
} 
#index div{
  margin-left: 30px;
}
.video{
  justify-content: center;
  display:flex;
}

.header a{
  float: left;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
  line-height: 25px;
  border-radius:4px;
  margin-right: 10px;
}
#headerbox {
  background-color:#6A687A;
  font-size: 50px;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #DCBDF7;
  color: white;
}

/* Style the active/current link*/
.header a.active {
  background-color:#6a197d;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}
.about {
  text-align: center;
	font-size: 25px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

}

.footer{
  overflow: hidden;
  background-color:#6A687A;
  padding: 10px 20px;
  margin-top: 0px;
}
.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  transition: 0.5s;
  background-size:200% auto;
  color: black;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 100%;
  font-size: 30px;
 }


/* <- Design of Buttons for Landing Page */

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-1 {
  background-image: linear-gradient(to right, #DCBDF7 0%, #cac7d6 51%, #DCBDF7 100%);
}